---
import CallToAction from '../components/home/call-to-action';
import Contact from '../components/home/contact';
import FAQs from '../components/home/faqs';
import Hero from '../components/home/hero';
import Offerings from '../components/home/offerings';
import PaymentMethods from '../components/home/payment-methods';
import Services from '../components/home/services';
import Testimonials from '../components/home/testimonials';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Fragment>
    <Hero />
    <Offerings client:visible />
    <PaymentMethods client:visible />
    <Services client:visible />
    <CallToAction client:visible />
    <Testimonials client:load />
    <FAQs client:visible />
    <div class="relative">
      <Contact client:load />
    </div>
  </Fragment>
</Layout>
